@inherits LayoutComponentBase

<MatAppBarContainer>
	<MatAppBar Fixed="true">
		<MatAppBarRow>
			<MatAppBarSection>
				<MatIconButton Icon="menu" OnClick="click"></MatIconButton>
				<MatAppBarTitle>BlaDialog - proof of concept</MatAppBarTitle>
			</MatAppBarSection>
			<MatAppBarSection Align="@MatAppBarSectionAlign.End">
				<MatIconButton Icon="favorite"></MatIconButton>
			</MatAppBarSection>
		</MatAppBarRow>
	</MatAppBar>
</MatAppBarContainer>

<MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mat">
			<MatDrawer @bind-Opened="@_opened" Mode="@MatDrawerMode.Modal">
				<MatAppBarAdjust></MatAppBarAdjust>
			</MatDrawer>
			<MatDrawer @bind-Opened="@_opened" Mode="@MatDrawerMode.Dismissible">
				<MatAppBarAdjust></MatAppBarAdjust>
			</MatDrawer>
	<MatDrawerContent Class="mdc-theme--background">
		<MatAppBarAdjust></MatAppBarAdjust>
		<div class="body-wrapper">
			@Body
		</div>
	</MatDrawerContent>
</MatDrawerContainer>

@code 
{
	bool _opened = true;

	void click()
	{
		_opened = !_opened;
		this.StateHasChanged();
	}

}